version: '3'

services:
  projects:
    build:
      context: .
      args:
        APP: projects
    ports:
      - "8000:80"
    volumes:
      - ./logs/projects:/logs
  rp:
    build:
      context: .
      args:
        APP: rp
    ports:
      - "8000:80"
    volumes:
      - ./logs/rp:/logs
